body{
    overflow-x: hidden;
    background-color:#fff;
    width:100%;height:100%;
    margin-bottom: 40px;
}

html{
    overflow-x: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

#showqstimg img{
    width:100%;
    max-width: 600px;
}