body{
    overflow-x: hidden;
    background-color:#fff;
    /* background-image:-moz-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
    background-image:-webkit-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
    -moz-background-size:4px 4px;
    background-size:6px 6px; */
    width:100%;height:100%;
    background-image:url('../../images/examportal/backimg.png');
    background-size: 140% 140%;
    background-repeat: no-repeat;
    /* margin-bottom: 40px; */
}
html{
    overflow-x: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}
#titlehd{
    top:10px;
    left:10px;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color:white;
    background-color: #070707c4;
    padding:6px 10px;
}
#flsback{
height:100%;
width: 100%;
background-color: #6461ffdc;
top: 0px;
left: 0px;
position: fixed;
opacity: 0.4;
z-index: 0;
display: none;
}
#expdash{
    z-index: 100;
}

#left-block{
margin-top:60px;
width:100%;
/* max-width:800px; */
height:100%;

}
   #right-block{
    width:100%;
    margin-top:160px;
    padding:40px;
    height:100%;
    background-color: #2d4ddb8c;
    /* box-shadow: 0px 2px 20px 0 #ffffff; */}
     
    #right-block form {
    text-align:left;
    max-width:600px;
    color:white;
    }

#loader-vq{
    float:center;
    width:20px;
    height:20px;
}




#expdetails{
    padding:10px;
    background-color: #0c48ca9f;
}
#qcontainer{
    padding-top:40px;
    padding-bottom:40px;
    background-color: #f0eaea;
}
#enrollid{
    text-align:left;
    max-width:600px;
}
#boxexp-one{
    width:100%;
}
#viewqset{
    margin-top:20px;
    padding-left:20px;
    padding-right: 20px;
    width:98%;
    max-width:900px;
    min-width:350px;
    text-align: left;
}

/* .showqstimg{
    width:100%;
} */
#qsetanst{
    display:none;
}
#leftimg{
    width:100%;
    max-width:600px;
}

    .leftimg{
        width:100%;
        max-width:600px;
        padding:4px;
        background-color: white;
        border-radius: 50%;
    }


.qrefimg{
    max-width: 600px;
}
.oprefimg{
padding-bottom:10px;
max-width: 600px;
}
#stuinfo{
    padding: 20px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    color:white;
    background-color:#fff;
    background-image:-moz-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
    background-image:-webkit-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
    -moz-background-size:4px 4px;
    background-size:6px 6px;
   
}

#stubio{
    margin-top:40px;
    width:100%;
    height:100%;
    max-width:800px;
    padding:20px;
    color:black;
    background-color: #f0f0fa;
    border: 2px solid #d81d4c;
  
}
#stbtn{
    margin-top:100px;
    bottom:20px;
    right:20px;
    float:center;
    font-size: 24px;
    padding:10px 100px;
    margin-bottom: 40px;
}

#feedback{
margin-top:0px;
width:100%;
height:100%;
top:0px;
left:0px;
position:fixed;
display:none;
background-color:#fff;
background-image:-moz-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
background-image:-webkit-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
-moz-background-size:4px 4px;
background-size:6px 6px;
}
#checkresmain{
background-color: #e7e7e7;
color:#303030;
margin:0px;
box-shadow:0px 2px 4px 0px grey;
padding:40px;
max-width:600px;
}
#testscore{
    margin-top:10px;
    font-size:16px;
    padding:6px 40px;
}
.opch{
border:1px solid #cbcedb;
color:#0c29cd;
padding:4px 14px;
width:140px;
margin-right:4px;

}
.opoptions{
padding:4px 14px;
margin-right:4px;
margin-bottom: 4px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b1abff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f86774; 
  }
  .showopsimg{
      padding-top:20px;
  }

  #textcomp{
      height:100%;
      width:100%;
      top:0px;
      left:0px;
      position:fixed;
      background-color: #2c2ceb;
background-image:-moz-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
background-image:-webkit-linear-gradient(-45deg,rgba(0,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.2) 75%,transparent 75%,transparent);
-moz-background-size:4px 4px;
background-size:6px 6px;
      opacity: 0.6;
      z-index: 10;
      display: none;
  }
  #timer{
    bottom:0px;
    right:10px;
    position: fixed;
    color:#d81d4c;
    padding:10px;
    border:2px solid #555;
    min-width:100px;
    display:none;
  }

  #examheader{
      top:0px;
      left:0px;
      width:100%;
      position: fixed;
      background-color:#2d1ff8;
      color:white;
  }
  #examheaderlogo{
      width:50px;
  }

  .enrhead{
      display:inline-block;
      padding:4px 10px;
      max-width:400px;
      border-left:2px solid #cfcdcd;
  }
  .enrhead_right{
    padding:4px;
    max-width:400px;
    float:right;
  }

  #testtimer{
      margin:5px;
    border:1px solid white;
  }
  
  #timeleft{
      font-size: 24px;
      padding:8px 10px;
      font-weight: 600;

  }
  #troomlimit{
      color:#f5cc14;
      font-size: 16px;
      font-weight: 400;
  }

  .boxexp{
      display: inline-block;
  }
#boxexp-two{
    bottom:40px;
    position: fixed;
    right:0px;
    text-align: left;
    max-width:200px;
}
  .qstindex{
      border:none;
      padding:6px 16px;
      margin:2px;
      background-color: #f5cc14;
  }

  /*CALCULATOR*/
  #calculatorbtn{
    bottom:40px;
    left:20px;
    position: fixed;
  }
   #calculator{
       bottom:100px;
       left:20px;
       position: fixed;
       display:none;
   }


   #boxexp-three input[type="button"]
    {
    background-color:#218a0d;
    color: black;
    border: solid black 2px;
    width:100%
    }

    #boxexp-three  input[type="text"]
    {
    background-color:white;
    border: solid black 2px;
    width:100%;
    color:black;
    }

    #boxexp-three input[type="button"]:hover
    {
background-color: #02b60b;
    }
    #boxexp-three input[type="button"]:focus
    {
-webkit-transform: scale(0.98);
transform: scale(0.98);
    }

    #info{
       bottom:0px;
       right:20px;
       position: fixed;
        z-index:10;
        padding:10px;
    }
    #info a {
        background-color: #080808c2;
        text-decoration: none;
        cursor: pointer;
        color:rgb(201, 201, 201);
        padding:4px 10px;
        margin-top:6px;
    }
    #info a:hover {
        background-color: rgba(255, 255, 255, 0.685);
        color: #080808c2;
    }

    #navicon{
        top:20px;
        left:20px;
        position: absolute;
        background-color: #0914b4;
        padding:6px;
        cursor: pointer;
        border-radius: 4px;
    }
    #navicon svg{
        width:40px;
        height:40px;
        color:#d6d6d6;
    }

    #navicon:hover{
        background-color: #0d1dfc;
    }
    .signedu{
        float:right;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;

    }
    #ttside,#gtside{
     padding-top: 10px;
    }
#exstrtimg{
    margin-top:20px;
    width:200px;
    padding:10px;
    pointer-events: none;
    background-color: white;
    border-radius: 50%;
}

#mailsentstu{
    top:20px;
    right:20px;
    padding:10px;
    position: fixed;
    display: none;
    background-color: white;
    color:#f72b2b;
    font-size: 16px;
}

@media screen and (max-width: 600px){
    #boxexp-one{
        margin-top:40px;

    }
    #viewqset img{
        width:100%;
    }
}

/* NewEdit */

#showqstimg img{
    width:100%;
    max-width: 600px;
}
.newpmrk{
width:100%;
text-align: left;
}

.mrkbtn{
    font-size:14px;
    background-color: #202020;
    border-radius: 0px;
    padding:0px 4px;
    margin:10px;
    
}